
/* ===================
    Sticky Footer   
=====================*/
.wrapper {
    min-height:100%;
    margin-bottom: -50px;
    
}

.footer,
.push {
    height: 50px;
}
/* ===================
    End Sticky Footer   
=====================*/

/*=============================
      Base Element Styles
===============================*/

* {
    box-sizing: border-box /*Forces padding and borders into the width and height of the elements*/
} 



html, body {
    height: 100%;
    background-color: black;
    color: green;
    font-family: "Courier New";
    text-align: left;
    margin: 2;
        
}
.footer {
    background-color: green;
    color: white;
    padding: 3px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    float: left;
}

li {
    float: left;
        
}

li a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
}

li a:hover {
    background-color: white;
    color: green;
}
.active {
    background-color: white;
    color: green;
}

#main-header {
    background: green;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    height: 135px;    
}

.container {
    padding: 3px;
    min-width: 300px;
}

h1 {
    text-align: center;
    white-space: nowrap;
}


/*dropdown button*/
.dropbtn {
    background-color: green;
    color: white;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: nowrap;
    
}
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;



}
.dropdown-content a:hover {
    background-color: white;
    color: green;
    
}
.dropdown:hover .dropdown-content {
    display:block;
}
.dropdown:hover .dropbtn {
    background-color: white;
    color: green;
}


/* end of dropdown button*/

/*==========================
       Media Queries
===========================*/

@media (min-width: 950px) {
    .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
    }
    #graywolf {
        float: left;
    }
    .leftcolumn {
        float: left;
        display: inline;
        width: 48%;
        max-width: 50%;
        
    }
    .rightcolumn {
        float: right;
        display: inline;
        width: 48%;
    }
    .clearfloat {
        clear:both; 
    }
/*clearfix*/
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
/* ~~~~makes 2 columns take up same height, to force H1 to new line~~~~ */
    .columncontainer {
        display: table;
        width: 100%;
    }
    .column {
        display: table-cell;
    }
/* ~~~~makes 2 columns take up same height, to force H1 to new line~~~~ */
    
        

        



}