html, body {
    background-color: black;
    color: green;
    font-family: "Courier New";
    text-align: left;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
/* main content flex  */
    .maincontent {
        max-width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex-grow: 1;
        }
/* Header stuff */
    ul { 
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: green;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: green;
        min-width: 160px;
        z-index: 1;
        text-align: center;
    }
    .dropdown {
        display: none; 
    }
    #headernav {
        display: flex;
    }

    
    /* social media badges additional CSS */
        .extrasbadges {
            display: inline;
        }
        .fa {
            text-align: left;
    }
    li a {
        display: flex;
        color: white;
        text-decoration: none;
        padding: 15px 20px;
    }
    li a:hover {
        background-color: white;
        color: green;
    }
    .active {
        background-color: white;
        color: green;
    }
    #main-header {
        background: green;
        color: white;
        padding-left: 3px;
        padding-right: 3px;
        height: 135px;
    }
    h1 {
        text-align: center;
        white-space: nowrap;
    }
    
    /*dropdown button*/
        
        button:hover {
            cursor: pointer;
        }
        /* End of header */

        /* footer */
        #bottomnav {
            margin-left:auto;
            margin-right:auto;
            float: none;
            text-align: center;
        }
        footer {
            background-color: green;
            color: white;
        }
/* wolf picture */
    #graywolf {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        flex-grow: 2;
    }
    #wolfimg {
        max-width: 48%;
        margin-top: 10px;
    }

/* ======= Dice roller =======*/
    table {
        margin: auto;
        margin-top: 50px;
        text-align: center;
        border-collapse: collapse;
    }
    td {
        width: 120px;
        border: 1px solid green;
        font-weight: bold;
        border: 1px solid green;
    }
    .rollbuttontd {
        border: none;
    }
    button {
        background-color: white;
        color: green;
        text-decoration: none;
        border:none;
        width: 80px;
        font-weight: bold;
    }
    button:hover {
        background-color: green;
        color: white;
    }
    input[type=text]{
        background-color:black;
        color:green;
        border: 1px dotted green;
        width: 45px;
        text-align: center;
    }
    .tabletop {
        background-color: green;
        color: white;
        border: 1px solid black;
        padding: 5px 0;
    }
    .diceimg {
        height: 30px;
    }

/* ========= Modal gallery ========== */
    /* gallery images */
        /* Image 1 */
            #myImg1 {
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;
                margin-right: 10px;
                margin-left: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            #myImg1:hover {opacity: 0.7;}
        /* Image 2 */
            #myImg2 {
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;
                margin-right: 10px;
                margin-left: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            #myImg2:hover {opacity: 0.7;}
        /* Image 3 */
            #myImg3 {
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;
                margin-right: 10px;
                margin-left: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            #myImg3:hover {opacity: 0.7;}
        /* Image 4 */
            #myImg4 {
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;
                margin-right: 10px;
                margin-left: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            #myImg4:hover {opacity: 0.7;}

    /* The Modal */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

    /* Modal Content (Image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

    /* Add Animation - Zoom in the Modal */
        .modal-content, #caption { 
            animation-name: zoom;
            animation-duration: 0.6s;
        }
        @keyframes zoom {
            from {transform:scale(0)} 
            to {transform:scale(1)}
        }

    /* Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }
        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
        .imgflex {
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-basis: auto;
            max-width: 95%;
            margin: auto;
        }
        .galimg {
            max-width: 90%;
        }

/*clearfix*/
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

/* Media Queries */

    /* medium screens */
    @media only screen and (min-width: 600px) {

         /* main nav */
            li.mainnavli {
                float: left;
            }
            ul {
                float: left;
            }
            /* dropdown */
                .dropdown {
                    float: right;
                }
                
                .dropbtn {
            background-color: green;
            color: white;
            border: none;
            padding-top: 15px;
            padding-bottom: 15px;
            white-space: nowrap;
        }
            .dropdown {
                position: relative;
                display: inline-block;
                
            }
            .dropdown-content a {
                color: white;
                text-decoration: none;
                display: block;
            }
            .dropdown-content a:hover {
                background-color: white;
                color: green;
            }
            .dropdown:hover .dropdown-content {
                display:block;
            }
            .dropdown:hover .dropbtn {
                background-color: white;
                color: green;
            }
        /* animated dots hovering over This is a Website */
            #hoverdots {
                position: absolute;
                left: 35%;
                margin-top: 50px;
            }

        
        /* gallery */
            .imgflex {
                flex-direction: row;
                margin-top: 50px;
                flex-grow: 1;
                flex-wrap: wrap;
            }
            .galimg {
                max-width: 40%;
            }
        /* main content flex  */
            .maincontent {
                flex-direction: row;
            }
            .content1, 
            .content2 {
                max-width: 48%;
                order: 1;
                margin: auto;
                display: flex;
                flex-direction: column;
            }
            .content3 {
                max-width: 70%;
                order: 3;
                margin: auto;
            }
            #graywolf {
                order: 2;
                align-self: center;
                margin: auto;                
            }
            .content4,
            .content5,
            .content6 {
                order: 4;
                margin: auto;
            }
        /* Footer */
            #smallscreenextras {
                display: none;
            }
    }
        
    /* Large Screens */
    @media only screen and (min-width: 1200px) {
        .imgflex {
            flex-direction: row;
            margin-top: 50px;
            flex-grow: 1;
            flex-wrap: nowrap;
        }
        .galimg {
            max-width: 24%;
        }
    }
